html, body {
    font-family: myriad-pro, sans-serif;

}
nav{

  width:100%;
  height:100px;
  display:flex;
  flex-direction: row;

}


#container{
  margin:auto;
  height:100px;
  width:100px;
}
nav #container img{
  position:absolute;
  background-color: white;


}
#ide{
  height:96px;;
  width:96px;
  position:absolute;
  border: 30px solid black ;
  border-image: url(../imgs/border.png) 34% repeat;
  box-sizing: border-box;
  text-align:center;
  margin-left: -300px;
  background-color:white;
}
#ide a{
  position:relative;
  font-size:150%;
  left:-5px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}


#order{
  height:96px;;
  width:96px;
  position:absolute;
  border: 30px solid black ;
  border-image: url(../imgs/border.png) 34% repeat;
  box-sizing: border-box;
  text-align:center;

  margin-left:-150px;
  background-color: white;
}
#order a{
  position:relative;
  font-size:150%;
  left:-12px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}
#about{
  height:96px;;
  width:96px;
  position:absolute;
  border: 30px solid black ;
  border-image: url(../imgs/border.png) 34% repeat;
  box-sizing: border-box;
  text-align:center;

  margin-left: 150px;
  background-color: white;
}
#about a{
  position:relative;
  font-size:150%;

  left:-14px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}
#contact{
  height:96px;
  width:96px;
  position:absolute;
  border: 30px solid black ;
  border-image: url(../imgs/border.png) 34% repeat;
  box-sizing: border-box;
  text-align: center;

  margin-left: 300px;
  background-color: white;
}
#contact a{
  position:relative;
  font-size:150%;
  left:-23px;
  text-decoration: none;
  color:black;
  font-weight: bold;

}
header{
  width:70%;
  padding:0,5%;
  background-color:#575757;
  margin:auto;
  color:white;
  text-align:center;


}
header h1{
  font-size:400%;
}
main{
width:100%;

margin-top:5%;
display:flex;
flex-direction: row;
flex-wrap: wrap;

}
section{
  width:350px;
  height:30rem;
  margin:auto;
  margin-top:1%;
  background-color:none;
  border: 50px solid black ;
  border-image: url(../imgs/border.png) 34% repeat;
  box-sizing: border-box;


}
section h1{
  position: relative;
  top: -60px;
  text-align:center;
  font-size:3em;
}

footer{
  width:100%;
  height:60px;
  background-color: #575757;
  text-align: center;
  display:flex;
  flex-direction: row;

}
footer p{
  font-size: 2em;
  margin-left: 45%;
  margin-top:0;
  color:white;
}
#social{
  height:60px;
  width:200px;
  margin-left: 20%;

}
/*#social img{
  width:40px;
  height:40px;
}*/


@media screen and (max-width:730px) {

  header h1{
    font-size:200%;
  }
#ide{
  margin-top:100px;
  height:96px;;
  width:75%;
  margin-left: -30%;
}


#order{
  margin-top:225px;
  width:75%;
  margin-left:-30%;
}
#order a{
  margin-left:5%;
}
#about{
  margin-top:350px;
  width:75%;
  margin-left: -30%;
}
#about a{
  margin-left: 5%;
}
#contact{
  margin-top:475px;
  width:75%;
  margin-left: -30%;
}
#contact a{
  margin-left: 9%;
}
header{
  margin-top:500px;
}

}
